body {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  color: unset;
  text-decoration: none;
}
