@import './base.css';
@import 'primeicons/primeicons.css';

#app {
  color: white;
  font-family: 'Brawler', serif;
}

@media (min-width: 1024px) {
}

.router-link-active {
  color: #10b981;
  font-weight: bold;
  text-shadow: 5px 5px 10px black;
}

.p-timeline-event-opposite {
  flex: 0;
}
.p-component {
  font-family: 'Brawler', serif;
}
